body{
	width: 1920px;
	display: flex;
	flex-direction: column;
	margin: 0 0;
}

.head1-img1{
	width: 250px;
	float: left;
}


.head1-nav a{
	float: right;
	color: black;
	#font-weight: bold;
	font-size: x-large;
	margin: 10px 15px 0 0;
	text-decoration: none; #取消下划线
}	
.body1-img1{
	position:relative;
	width: 1920px;
	height: 360px;
	margin: 5px 0 0 0;
}

#body1-p1{
	position:absolute;
	top: 146px;
	left:90px;
	bottom: 146px;
	font: "微软雅黑";
	color: white;
	font-size: 80px;
	font-weight: bold;
}
.body2{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 500px;
}
#body2-img1{
	display: flex;
	width: 800px;
	height: auto;
	margion:140px 80px 140px 80px;
}
.body2-test{
	display: flex;
	flex-direction: column;
}

.body h1{
	font-weight: bold;
}
.body3{
	display: flex;
	flex-direction: row;
	margin: 0 20px 140px 20px;
}
.body3-1{
	margin: 0px 16px 0px 0px;
	background-color: #f6f6f6;
}
.body4{
	display: flex;
	flex-direction: column;
	background-color: #f6f6f6;
}
.body4 h1{
	display: flex;
	justify-content: center;
}
.body4-img{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin:10px 50px 90px 50px;
}
#body4-img1{
margin: 0px 16px 0px 0px;
}
#body4-img2{
	margin: 0px 16px 0px 0px;
}
#body4-img3{
	margin: 0px 16px 0px 0px;
}
#body4-img4{
	margin: 0px 16px 0px 0px;
}
#body4-img5{
	margin: 0px 16px 0px 0px;
}
