body{
	width: auto;
	max-width: 100%;
}
#menu-toggle{
	display: block;
	float: right;
}
nav{
	display: block;
	background-color: aquamarine;
}
#checkbox:checked nav{
	display: none;
}
.head1-img1{
	width: 100px;
	height: auto;
	float: left;
}
